body {
  font-family: sans-serif;
  margin: auto;
  padding: 0 0px;
}

.navbar {
  background-color: #313236;
  border-radius: 10px;
  padding: 10px;
  height: 0px;
}

.navbar a {
  color: #aaa;
  display: flexbox;
  font-size: 15px;
  padding: 10px 20px;
  text-decoration: none;
}

.navbar a:hover {
  color: #ffffff;
}



/* Textfeld */

.col-75 {
  float: right;
  width: 100%;
  margin-top: 6px;
  padding-left: 5px;
}

textarea {
  width: 50%;
  height: 200px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 20px;
}

@media screen and (max-width: 600px) {
  textarea {
    width: 100%;
    margin-top: 0;
  }
}

button{
  background-color: #4CAF50;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.btn {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
}

/* Zeiterfassungstabelle */

.Zeitplan {
  width: 100%;
  margin: 0 auto;
}

.container-table {
  width: 100%;
  display: flex;
  align-items: left;
  justify-content: left;
  flex-wrap: wrap;
  padding: 10px 10px;
}

.wrap-table100 {
  width: 800px;
}

table {
  border-collapse: collapse;
  background: rgb(255, 255, 255);
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

table thead tr {
  height: 60px;
  background: #304a32;
}
table th {
  text-align: left;
}

table tbody tr {
  height: 50px;
}

.table100-head th{
  font-family: OpenSans-Regular;
  font-size: 18px;
  color: #fff;
}

tbody tr:nth-child(even) {
  background-color: #cecece;
}

.column1 {
  width: 150px;
  padding-left: 20px;
}

.column2 {
  width: 160px;
}

.column3 {
  width: 50px;
}

.column4 {
  width: 110px;
  text-align: right;
}

.column5 {
  width: 170px;
  text-align: right;
}

.column6 {
  width: 222px;
  text-align: right;
  padding-right: 62px;
}
